<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Login - Register Form | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        
        <div class="row" style="margin-top: 40px">
            <div class="col-md-6">
                <h2>My Sended Files</h2>
                <table class="table table-dark table-hover">
                    <thead>
                        <th>
                            download
                        </th>
                        <th>
                            update
                        </th>
                        <th>
                            delete
                        </th>
                    </thead>
                    <tbody>
                            {% for record in records %}
                        <tr>
                                <td><a href="{{ url_for('download_file',file_id=record[0]) }}"> {{ record[1] }}</a></td>
                                <td><a href="{{ url_for('update_file',file_id=record[0]) }}" class="btn btn-warning">Update</a></td>
                                <td><a href="{{ url_for('delete_file',file_id=record[0]) }}" class="btn btn-danger"> Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
           <!--  <div class="col-md-6">
                <h2>Friends List</h2>
                <table class="table table-dark table-hover">
                    <title>
                        Friends To be added List
                    </title>
                    <thead>
                        <th>
                            Username
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Add Friend
                        </th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            
                                <td>
                                       {{ user[1] }} 
                                </td>
                                <td>
                                        {{ user[2] }}
                                </td>
                                <td>
                                    <a href="{{ url_for('add_friends',user_id=user[0]) }}" class="btn btn-success">Add Friend</a>
                                </td> 
                              
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
