<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Send File To Group</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row" style=" margin-top: 40px">
            <div class="col-md-6">
                <form action="{{ url_for('send_files_to_group',group_id=group_id)}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Add Name">Name</label>
            <input type="text" class="form-control-file" name='name'>
        </div>
        <div class="form-group">
            <label for="Add Description">Add Description</label>
            <input class="margin:20" type="text" class="form-control-file" name='description' >
        </div>
          <div class="form-group">
            <label for="Add Your File">Add Your File</label>
            <input type="file" class="form-control-file" name='file'>
        </div>


          <button type="submit" class="btn form-control btn-default">Send File</button>
        </form>
            </div>
           <!--  <div class="col-md-6">
                <h2>Friends List</h2>
                <table class="table table-dark table-hover">
                    <title>
                        Friends To be added List
                    </title>
                    <thead>
                        <th>
                            Username
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Add Friend
                        </th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            
                                <td>
                                       {{ user[1] }} 
                                </td>
                                <td>
                                        {{ user[2] }}
                                </td>
                                <td>
                                    <a href="{{ url_for('add_friends',user_id=user[0]) }}" class="btn btn-success">Add Friend</a>
                                </td> 
                              
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
